div.iphone {
  @include box-sizing(border-box);
  background: url(/assets/iphone.svg) no-repeat;
  background-size: 384px 760px;
  width: 384px;
  height: 760px;
  padding: 96px 0 0 32px;

  div, img {
    background: #000;
    width: 320px;
    height: 568px;
    overflow: hidden;
  }

  @media #{$grater-small-media-query} {
    display: none;
  }
}
